/* reset css */

body, div{
    margin: 0;
    padding: 0;
}

/* design */

body{
    background-color: skyblue;
}

.charWrapper{
    transform: translateY(25%);
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: transparent;
    position: relative;
}

.face{
    width: 450px;
    height: 300px;
    background-color: white;
    border: 5px solid black;
    position: absolute;
    left: 20px;
    top: 70px;
    border-top-left-radius: 40% 80%;
    border-top-right-radius: 40% 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.faceShadow{
    background-color: #999;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 122.5px;
    top: -70px;
}

.faceLine{
    width: 450px;
    height: 5px;
    background-color: #999;
    position: absolute;
    top: 180px;
}

.bolt{
    background-color: #999;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.bolt.top.left{
    position: absolute;
    left: 35px;
    top: -15px;
}

.bolt.top.right{
    position: absolute;
    right: 35px;
    top: -15px;
}

.bolt.bottom.left{
    position: absolute;
    left: 30px;
    bottom: -15px;
}

.bolt.bottom.right{
    position: absolute;
    right: 30px;
    bottom: -15px;
}

.faceScreen{
    width: 350px;
    height: 350px;
    background-color: #111;
    border: 5px solid #111;
    position: absolute;
    left: 45px;
    top: 50px;
    border-top-left-radius: 35% 50%;
    border-top-right-radius: 35% 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.shine{
    width: 400px;
    height: 80px;
    background-color: #333;
    transform: rotate(-30deg);
}

.shine.first{
    position: absolute;
    left: -60px;
    top: 30px;
}

.shine.second{
    position: absolute;
    left: 60px;
    bottom: 60px;
}

.eye{
    width: 55px;
    height: 55px;
    border: 15px solid deepskyblue;
    border-radius: 50%;
    /* box-shadow: 0 0 5px skyblue; */
}

.eye.left{
    position: absolute;
    left: 95px;
    top: 125px;
}

.eye.right{
    position: absolute;
    right: 95px;
    top: 125px;
}

.mouth{
    width: 80px;
    height: 35px;
    border: 15px solid deepskyblue;
    border-top: 0;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    position: absolute;
    left: 170px;
    bottom: 40px;
}

.hideMouth{
    width: 110px;
    height: 15px;
    background-color: #111;
    position: absolute;
    left: -15px;
    top: -2px;
}

.ear{
    border: 5px solid black;
    background-color: white;
    width: 40px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 210px;
}

.ear.left{
    position: absolute;
    left: -4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: rotate(5deg);
}

.ear.right{
    position: absolute;
    right: -4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: rotate(-5deg);
}


.earShine{
    background-color: #333;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -15px;
    top: -35px;
    /* overflow: hidden; */
}

.earPart{
    background-color: #111;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 50px;
}

.earPart.left{
    border-top-left-radius: 50px;
}

.earPart.right{
    border-top-right-radius: 50px;
}

.antenna{
    border: 5px solid black;
    background-color: white;
    width: 10px;
    height: 150px;
    position: absolute;
    top: 80px;
    overflow: hidden;
}

.antenna.left{
    border-top-left-radius: 100% 30%;
    border-top-right-radius: 5px;
    position: absolute;
    left: 25px;
    transform: rotate(5deg);
}

.antenna.right{
    border-top-right-radius: 100% 30%;
    border-top-left-radius: 5px;
    position: absolute;
    right: 25px;
    transform: rotate(-5deg);
}

.antennaShadow{
    background-color: #999;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: -40px;
}

.antennaShadow.left{
    transform: rotate(-20deg);
}

.antennaShadow.right{
    transform: rotate(20deg);
}