/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* keyframes animation */

@keyframes textSlide {
    0%{
        opacity: 1;
        transform: translateX(40%);
    }
    100%{
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes changeExpression {
    0%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}

/* reset css */

body, div{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

span{
    cursor: default;
}

/* design */

body{
    background-color: skyblue;
}

.charWrapper{
    margin: 100px auto;
    width: 500px;
    position: relative;
}

.face{
    width: 450px;
    height: 300px;
    background-color: white;
    border: 5px solid black;
    /* box-shadow: 0 0 0 5px black; */
    position: absolute;
    left: 20px;
    top: 70px;
    border-top-left-radius: 40% 80%;
    border-top-right-radius: 40% 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.faceShadow{
    background-color: #999;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 122.5px;
    top: -70px;
}

.faceLine{
    width: 450px;
    height: 5px;
    background-color: #999;
    position: absolute;
    top: 180px;
}

.bolt{
    background-color: #999;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.bolt.top.left{
    position: absolute;
    left: 35px;
    top: -15px;
}

.bolt.top.right{
    position: absolute;
    right: 35px;
    top: -15px;
}

.bolt.bottom.left{
    position: absolute;
    left: 30px;
    bottom: -15px;
}

.bolt.bottom.right{
    position: absolute;
    right: 30px;
    bottom: -15px;
}

.faceScreen{
    width: 350px;
    height: 350px;
    background-color: #111;
    border: 5px solid #111;
    position: absolute;
    left: 45px;
    top: 50px;
    border-top-left-radius: 35% 50%;
    border-top-right-radius: 35% 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.shine{
    width: 400px;
    height: 80px;
    background-color: #333;
    transform: rotate(-30deg);
}

.shine.first{
    position: absolute;
    left: -60px;
    top: 30px;
}

.shine.second{
    position: absolute;
    left: 60px;
    bottom: 80px;
}

.text{
    opacity: 0;
    font-size: 100px;
    line-height: 100px;
    color: deepskyblue;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 10px;
}

.eye{
    width: 55px;
    height: 55px;
    border: 15px solid deepskyblue;
    /* border: 15px double deepskyblue; */
    border-radius: 50%;
}

.eye.left{
    position: absolute;
    left: 95px;
    top: 125px;
}

.eye.right{
    position: absolute;
    right: 95px;
    top: 125px;
}

.smile{
    opacity: 0;
}

.eye2{
    width: 60px;
    height: 40px;
    border: 15px solid deepskyblue;
    /* border: 15px double deepskyblue; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
}

.eye2.left{
    position: absolute;
    left: 95px;
    top: 125px;
}

.eye2.right{
    position: absolute;
    right: 95px;
    top: 125px;
}

.mouth{
    width: 80px;
    height: 35px;
    border: 15px solid deepskyblue;
    /* border: 15px double deepskyblue; */
    border-top: 0;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    position: absolute;
    left: 170px;
    bottom: 40px;
}

.hideMouth{
    width: 110px;
    height: 15px;
    background-color: #111;
    position: absolute;
    left: -15px;
    top: -2px;
}

.ear{
    /* border 사용 시 작은 여백이 생김? */
    /* border-radius 와 overflow: hidden 의 문제? */
    /* border: 5px solid black; */
    box-shadow: 0 0 0 5px black;
    background-color: white;
    width: 40px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 210px;
}

.ear.left{
    position: absolute;
    left: -4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: rotate(5deg);
}

.ear.right{
    position: absolute;
    right: -4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: rotate(-5deg);
}

.earShine{
    background-color: #333;
    width: 100px;
    height: 100px;
}

.earShine.left{
    position: absolute;
    left: -20px;
    top: -40px;
}

.earShine.right{
    position: absolute;
    right: -20px;
    top: -40px;
}

.earPart{
    background-color: #111;
    width: 50px;
    height: 50px;
}

.earPart.left{
    position: absolute;
    left: -10px;
    top: 10px;
    border-top-left-radius: 50px;
}

.earPart.right{
    position: absolute;
    right: -10px;
    top: 10px;
    border-top-right-radius: 50px;
}

.antenna{
    border: 5px solid black;
    background-color: white;
    width: 10px;
    height: 150px;
    position: absolute;
    top: 80px;
    overflow: hidden;
}

.antenna.left{
    border-top-left-radius: 100% 30%;
    border-top-right-radius: 5px;
    position: absolute;
    left: 25px;
    transform: rotate(5deg);
}

.antenna.right{
    border-top-right-radius: 100% 30%;
    border-top-left-radius: 5px;
    position: absolute;
    right: 25px;
    transform: rotate(-5deg);
}

.antennaShadow{
    background-color: #999;
    width: 100px;
    height: 40px;
}

.antennaShadow.left{
    position: absolute;
    top: 110px;
    left: -40px;
    transform: rotate(-20deg);
}

.antennaShadow.right{
    position: absolute;
    top: 110px;
    right: -40px;
    transform: rotate(20deg);
}

.blush{
    background-color: deepskyblue;
    width: 70px;
    height: 30px;
    border-radius: 50%;
}

.blush.left{
    position: absolute;
    left: 70px;
    bottom: 75px;
}

.blush.right{
    position: absolute;
    right: 70px;
    bottom: 75px;
}

/* animation */

.expression .default{
    animation: 3s step-start infinite changeExpression;
}

.expression .smile{
    animation: 3s step-end infinite changeExpression;
}

.charWrapper:hover .expression{
    opacity: 0;
}

.charWrapper:hover .text{
    animation: 10s linear infinite textSlide;
}