/* animations */

@keyframes eyeBlink {
    0%{
        transform: scale(1.0);
    }
    20%{
        transform: scale(1.5, 0.2);
    }
    40%{
        transform: scaleY(1.0);
    }
}

/* reset css */

body, div{
    margin: 0;
    padding: 0;
}

/* design */

body{
    background-color: green;
}

.charWrapper{
    transform: translateY(25%);
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: white;
    position: relative;
}

/* face */

.face{
    background-color: rgb(238, 255, 47);
    width: 300px;
    height: 220px;
    border: 5px solid rgb(81, 134, 0);
    border-top-left-radius: 240px 130px;
    border-top-right-radius: 240px 130px;
    border-bottom-left-radius: 200px 120px;
    border-bottom-right-radius: 200px 120px;
    position: absolute;
    left: 100px;
    top: 50px;
    overflow: hidden;
}

.facePart{
    background-color: white;
    width: 300px;
    height: 200px;
    border-top-left-radius: 160px 100px;
    border-top-right-radius: 160px 100px;
    border-bottom-left-radius: 200px 80px;
    border-bottom-right-radius: 200px 80px;
    position: absolute;
    top: 120px;
}

.patternWrapper{
    overflow: hidden;
}

.pattern{

}

/* eye */

.eye{
    width: 5px;
    height: 45px;
    background-color: black;
    border-radius: 30%;
    animation: eyeBlink 3s alternate infinite;
    transition: opacity 0.1s;
}

.eye.left{
    position: absolute;
    left: 120px;
    top: 90px;
}

.eye.right{
    position: absolute;
    right: 120px;
    top: 90px;
}

/* smile */

.eyeSmile{
    opacity: 0;
    width: 20px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    transition: opacity 0.1s;
}

.eyeSmile.left{
    position: absolute;
    left: 112.5px;
    top: 110px;
    transform: rotate(20deg);
}

.eyeSmile.right{
    position: absolute;
    right: 112.5px;
    top: 110px;
    transform: rotate(-20deg);
}

/* mouth */

.mouth{
    width: 120px;
    height: 5px;
    background-color: black;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.mouth.left{
    position: absolute;
    left: 33px;
    bottom: 50px;
    transform: rotate(15deg);
}

.mouth.right{
    position: absolute;
    right: 33px;
    bottom: 50px;
    transform: rotate(-195deg);
}

/* blush */

.blush{
    background-color: salmon;
    width: 50px;
    height: 20px;
    border-radius: 50%;
    /* box-shadow: 0 0 5px salmon; */
}

.blush.left{
    position: absolute;
    left: 15px;
    top: 125px;
}

.blush.right{
    position: absolute;
    right: 15px;
    top: 125px;
}

/* tongue */

.tongue{
    background-color: salmon;
    border: 5px solid indianred;
    border-radius: 30px;
    width: 70px;
    height: 40px;
    position: absolute;
    right: 35px;
    bottom: 40px;
    transform: rotate(100deg);
}

.tongueLine{
    width: 5px;
    height: 45px;
    background-color: indianred;
    border-radius: 30%;
    transform: rotate(90deg);
    position: absolute;
    left: 35px;
    top: -2.5px;
}

.hideTongue{
    background-color: white;
    width: 60px;
    height: 41px;
    position: absolute;
    bottom: 15px;
    right: 40px;
    transform: rotate(-15deg);
}

/* body */

.body{
    border-radius: 100px;
    border: 5px solid rgb(81, 134, 0);
    background-color: rgb(238, 255, 47);
    width: 200px;
    height: 220px;
    position: absolute;
    left: 150px;
    bottom: 50px;
}

.belly{
    border-radius: 100px;
    background-color: white;
    width: 120px;
    height: 155px;
    position: absolute;
    left: 40px;
    bottom: 30px;
}

/* arms */

.arm{
    border: 5px solid rgb(81, 134, 0);
    background-color: rgb(238, 255, 47);
    border-top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 25px;
    height: 50px;
}

.arm.left{
    position: absolute;
    left: 30px;
    top: 70px;
    transform: rotate(-40deg);
}

.arm.right{
    position: absolute;
    right: 30px;
    top: 70px;
    transform: rotate(40deg);
}

/* legs */

.leg{
    border-radius: 20px;
    border: 5px solid rgb(81, 134, 0);
    background-color: rgb(238, 255, 47);
    width: 100px;
    height: 40px;
    z-index: -10;
}

.leg.left{
    border-top-left-radius: 100%;
    position: absolute;
    left: -50px;
    bottom: -20px;
}

.leg.right{
    border-top-right-radius: 100%;
    position: absolute;
    right: -50px;
    bottom: -20px;
}

.tail{
    border: 5px solid rgb(81, 134, 0);
    background-color: rgb(238, 255, 47);
    width: 200px;
    height: 80px;
    z-index: -20;
    position: absolute;
    bottom: 30px;
    left: 120px;
    transform: rotate(-30deg);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.tailPart{
    border: 5px solid rgb(81, 134, 0);
    background-color: rgb(238, 255, 47);
    width: 100px;
    height: 70px;
    z-index: -20;
    position: absolute;
    bottom: 30px;
    left: 150px;
    transform: rotate(-30deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 100%;
    border-left: 0;
}

/* hover transition */

.charWrapper:hover .eye{
    opacity: 0;
}

.charWrapper:hover .eyeSmile{
    opacity: 1;
}